/*
  --------------
  Variables
  --------------
*/
/* ------   Desktop   ------ */
/* :root {

} */

/* ------   Tablet   ------ */
/* @media screen and (max-width: px) {
  :root {

  }
} */

/* ------   Mobile   ------ */
/* @media screen and (max-width: 450px) {
  :root {

  }
} */

/*
    --------------
    Component Utility Classes
    --------------
*/

/**
 - change select color for nav
 - Variables: height, width
*/

.select-state::after,
.select-state-active::after {
  content: "";
  position: absolute;
  height: var(--select-state-height, 3px);
  width: var(--select-state-width, 100%);
  /* transition: background-color 250ms ease-in-out; */
}
.select-state:hover::after {
  background-color: rgba(var(--rgb-white), 0.5);
}

.select-state-active::after {
  background-color: rgba(var(--rgb-white), 1);
}

/* Nav & Tab Options generator class */
.utilityOptions {
  --gap: var(--sp-100);
  height: var(--navOptions-height, 32px);

  position: relative;
  flex-direction: column;
  flex: 0 0 auto;

  font-family: var(--ff-bwc-sans-cond);
  font-size: var(--fs-16);
  letter-spacing: var(--ls-2);
  line-height: normal;
}
.utilityOptions::after {
  --select-state-height: var(--nav-mobile-height, 3px);
  --select-state-width: var(--nav-mobile-width, 100%);
}

/*
    --------------
    Component Styling
    --------------
*/
/* ------   Explore Button   ------ */
.explore {
  --diameter: var(--tabMobile-diameter, 272px);
  outline: transparent 88px rgba(var(--rgb-white), 0);
  font-size: var(--mobile-font-size, var(--fs-32));
  border: transparent;

  transition: outline ease-in-out 350ms;
  flex-shrink: 0;
}

.explore:hover {
  outline: solid 88px rgba(var(--rgb-white), 0.1);
}

.explore span {
  font-family: var(--ff-bfr-serif);
}

.explore:hover span {
  opacity: 0.5;
}

@media (max-width: 450px) {
  .explore-mobile {
    --tabMobile-diameter: 144px;
    --mobile-font-size: var(--fs-18);
  }
}
/* ------ Pagination: Small ------ */

.smallPagination {
  --diameter: var(--tablet-pagination-small-diameter, 15px);

  flex-shrink: 0;
  opacity: 0.25;
}

.smallPagination:hover {
  opacity: 0.5;
}
.smallPagination-active, .smallPagination-active:hover {
  opacity: 1;
}

@media (max-width: 1000px) {
  .smallPagination-tablet {
    --tablet-pagination-small-diameter: 10px;
  }
}

/* ------ Pagination: Large ------ */
.largePagination {
  --diameter: var(--tablet-pagination-large-diameter, 80px);

  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: var(--pagination-large-font-size, var(--fs-32));
  font-family: var(--ff-bfr-serif);
  font-feature-settings: 'liga' off, 'clig' off;

  border: 1px solid rgba(var(--rgb-white), 0.25);
}

.largePagination:hover {
  border-color: rgba(var(--rgb-white), 1);
}

@media (max-width: 1000px) {
  .largePagination-tablet-mobile{
    --tablet-pagination-large-diameter: 56px;
    --pagination-large-font-size: var(--fs-24);
  }
}
@media (max-width: 450px) {
  .largePagination-tablet-mobile {
    --tablet-pagination-large-diameter: 40px;
    --pagination-large-font-size: var(--fs-18);
  }
}

.pagination {
  list-style-type: none;
}
/* ------   Navigation Menu   ------ */
/* Navigation logo */
.navLogo {
  --gap: calc(var(--sp-800) - 32px);

  align-items: center;
  flex: 1 0 0;
}
.logo {
  width: fit-content;
  height: var(--logo-size, 48px);
}
.logoLine {
  width: 100%;
  height: 1px;
  
  position: relative;
  right: -32px;
  z-index: 2;
  
  opacity: 0.25;
  background-color: var(--clr-white);
}

.logo-responsive {
  padding-left: var(--sp-800);
}

@media (max-width: 1000px) {
  .logo-responsive {
    padding: 0 var(--sp-500);
  }
  .navLogo-responsive {
    max-width: fit-content;
  }
}

@media (max-width: 450px) {
  .logo-responsive {
    --logo-size: 40px;
    padding: 0 var(--sp-300);
  }
}

/* Navigation options */

.navMenu {
  --gap: var(--navMenu-gap, var(--sp-800));

  counter-set: nav-menu-counter -1;

  flex: 1 0 0;
  align-items: center;
  justify-content: flex-end;
  min-width: var(--navMenu-min-width, 664px);
  padding: 0 var(--navMenu-padding, var(--sp-800));
  
  backdrop-filter: blur(40px);
  background-color: rgba(var(--rgb-white), 0.05);
}

.navOptions {
  --navOptions-height: 96px;

  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .navMenu-responsive {
    --navMenu-min-width: 448px;
    --navMenu-gap: var(--sp-600);
    --navMenu-padding: var(--sp-500);
  }
}
@media (max-width: 450px) {
  .navOptions-responsive {
    
    --nav-mobile-width: 3px;
    --nav-mobile-height: 100%;
    --navOptions-height: fit-content;

    width: 222px;
  }
  .navMenu-responsive {
    --gap: var(--sp-400);
    --navMenu-min-width: fit-content;

    align-self: stretch;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
  }
}
.navOptions span::before {
  counter-increment: nav-menu-counter;
  content: "0" counter(nav-menu-counter);

  font-weight: 700;
  letter-spacing: 2.7px;
  padding-right: var(--sp-150);
}
.navDropdown {
  height: 100%;
  flex: 1 0 0;
  align-items: center;
  flex-direction: row-reverse;
}
.dropdown-image {
  width: 24px;
  height: 21px;
}
.navigationTab {
  width: 100%;
  align-items: center;

}
@media (max-width: 450px) {
  .navigationTab-responsive {
    padding: var(--sp-300);
  }
}

/* ------ Tabs ------ */
.tabOptions {
  align-items: center;
}
.destinationTabMenu {
  --gap: var(--sp-400);

  align-items: flex-start;
}
