/*
  --------------
  Variables
  --------------
*/
:root {/* ------   Desktop   ------ */
  /* Explore button */
  --circle-diameter: 272px;
  --outline-length: 88px;

  /* Pagination: small */
  --pagination-small-diameter: 15px;

  /* Pagination: large */
  --pagination-large-diameter: 80px;
  --font-size: var(--fs-32);
  --column-if-desktop: column;

  /* Navigation States */
  --nav-width: fit-content;
  --nav-height: 96px;
  --nav-after-width: 100%;
  --nav-after-height: 3px;

  --nav-line-state: 1;
  --nav-min-width: 664px;
  --nav-padding: var(--sp-600);
  --nav-justify: space-evenly;
  --nav-bar-padding-top: var(--sp-500);
  --nav-logo-padding: var(--sp-800);


}
@media screen and (max-width: 1000px) {/* ------   Tablet    ------ */
  :root {
    /* Pagination: small */
    --pagination-small-diameter: 10px;

    /* Pagination: large */
    --pagination-large-diameter: 56px;
    --font-size: var(--fs-24);
    --column-if-desktop: row;

    /* Navigation States */
    
    --nav-line-state: 0;
    --nav-min-width: 488px;
    --nav-padding: var(--sp-500);
    --nav-bar-padding-top: 0;
    --nav-justify: flex-end;
    --nav-logo-padding: var(--sp-500);
  }
}
@media screen and (max-width: 600px) {/* ------   Mobile    ------ */
  :root {
    /* Explore button */
    --circle-diameter: 144px;
    --outline-length: 88px;

    /* Pagination: large */
    --pagination-large-diameter: 40px;
    --font-size: var(--fs-24);

    /* Navigation States */
    --nav-width: 222px;
    --nav-height: fit-content;
    --nav-after-width: 3px;
    --nav-after-height: 100%;

    
    

  }
}

/*
    --------------
    Component Utility Classes
    --------------
*/
.unselected {
  opacity: 0.174363;
}
.unselected:hover {
  opacity: 0.5;
}
.selected {
  opacity: 1;
}
.underline {
  display: inline-flex;
  gap: var(--sp-100);
  font-family: var(--ff-bwc-sans-cond);
  color: var(--clr-white);
  position: relative;
  letter-spacing: 2px;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--clr-white);
  opacity: 0;
}
.underline-inactive:hover::after {
  opacity: 0.5;
}
.underline-active::after {
  opacity: 1;
}

/*
    --------------
    Component Styling
    --------------
*/
/* ------   Explore Button   ------ */
.explore-inner {
  /* width: var(--circle-diameter); */
  --diameter: var(--circle-diameter);
  border: 1px solid rgba(var(--rgb-white), 0.05);
  outline: 0px solid rgba(var(--rgb-white), 0.1);
  transition: color 175ms ease-in-out, outline 350ms ease-in-out;
  font-family: var(--ff-bfr-serif);
  font-size: var(--fs-32);
}
.explore-inner:hover {
  outline: var(--outline-length) solid rgba(var(--rgb-white), 0.1);
  color: rgba(var(--rgb-dark), 0.5);
}

/* ------ Pagination: Small ------ */
.small-pagination {
  --diameter: var(--pagination-small-diameter);
  background-color: var(--clr-white);
}

.small-pagination-menu {
  --pagination-gap: var(--sp-500);
}


/* ------ Pagination: Large ------ */
.large-pagination {
  --diameter: var(--pagination-large-diameter);
  border: 1px solid rgba(var(--rgb-white), 0.25);
  font-family: var(--ff-bfr-serif);
  font-size: var(--font-size);
}
.large-pagination:hover { border-color: var(--clr-white); }
.lp-active { border-color: var(--clr-white); }

.pagination-menu {
  --gap: var(--pagination-gap);
  flex-direction: row;
  align-items: start;
}
.large-pagination-menu {
  --pagination-gap: var(--sp-400);
  flex-direction: var(--column-if-desktop);
}

/* ------   Navigation Menu   ------ */
.nav-option {
  font-feature-settings: 'liga' off, 'clig' off;
  width: var(--nav-width);
  height: var(--nav-height);
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.nav-option::after {
  width: var(--nav-after-width);
  height: var(--nav-after-height);
}
.nav-option::before {
  /* Set counter in UL/OL & remove from '.navigation' */
  counter-increment: nav-count;
  font-weight: 700;
  content: "0" counter(nav-count);
}
.nav-menu {
  --gap: var(--sp-600);
  counter-set: nav-count;
  min-width: var(--nav-min-width);
  padding: 0px var(--nav-padding);
  justify-content: var(--nav-justify);
  flex: 1 0 0;
  background-color: rgba(var(--rgb-white), 0.05);
  backdrop-filter: blur(40px);
}
.nav-bar {
  --gap: -32px;
  padding-top: var(--nav-bar-padding-top);
  width: 100%;
  justify-content: space-between;
}


.nav-container {
  --gap: var(--sp-800);
  width: 100%;
  justify-content: center;
}
.logo-container {
  --gap: var(--sp-800);
  align-items: center;
  flex: 1 0 0;
  margin-left: var(--nav-logo-padding); var(--sp-800);
}
.line-separator {
  position: relative;
  right: -32px;
  flex: var(--nav-line-state) 0 0;
  height: 3px;
  background-color: rgba(var(--rgb-white), 0.25);
  z-index: 2;
}

/* ------ Tabs ------ */
.tab-menu { --gap: var(--sp-400); }
.tab-option {
  height: 32px;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 0;
}
.tab-option::after {
  width: 100%;
  height: 3px;
}
